<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Login</h2>
            </div>
            <form #login="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" required id="inputUsername" placeholder="Email" name="email" [(ngModel)]="user.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" required id="inputPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
                </div>
                <button type="submit" class="btn btn-primary" (click)="userLogin()" [disabled]="login.form.invalid">Login</button>

            </form>
        </div>
    </div>
</div>

