.mapboxgl-user-location-dot {
  //background-color: #1da1f2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  background-image: url('https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);

  top: 0;
  left: 0;
  width: 100%;
  height: 91.5%;
}

.modal {
  height: 88.5%;
  top: 10px;
}

.modal2 .modal {
  top: 90px;
}

.modal-dialog {
  width: 415px;
}

.modal-content {
  background-color: #080808d9;
}

.modal2 .modal-content {
  background-color: #08080894;
}

.modal-body {
  padding: 20px;
}

.alert-modal .modal-body {
  padding-top: 5px;
}

.congrats-image {
  //background-image: url("../../assets/img/modal-img/palyer-reached-near-treasure_pop_up.png");
  color: white;
  margin-top: 0px;
  background: #05474a;
  border: 2px solid #12d6e0;
}

.congrats-sub {
  margin-top: -20px;
  padding: 5px;
}

.congrats-sub > h4 {
  font-weight: bold;
}

.congrats-sub > p {
  font-size: 15px;
}

.question-image {
  //background-image: url("../../assets/img/modal-img/Quiz-win_box.png");
  color: white;
  background: #059fa7;
  margin-top: 40px;
  width: 95%;
  height: 60px;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  font-weight: 300;
  margin-left: 7px;
}

.button-css {
  //background-image: url('../../assets/img/modal-img/HUD_PANEL.png');
  color: #12d6e0;
  width: 350px;
  border: 1px solid #12d6e0;
  font-size: 16px;
  border-radius: 10px;
  height: 50px;
}

.button-css:hover {
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.answer-sub-section {
  margin: 10px;
}

@media screen and (max-width: 415px) {
  .modal-dialog {
    width: 315px;
    left: 15px;
  }
  .button-css {
    width: 255px;
    height: 40px;
    font-size: 14px;
  }
  .question-image {
    padding-top: 15px;
    font-size: 14px;
  }
  .congrats-sub > p {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .modal-dialog {
    width: 315px;
    left: 15px;

  }
  .button-css {
    width: 255px;
    height: 40px;
    font-size: 14px;
  }
  .question-image {
    padding-top: 15px;
    font-size: 14px;
  }
  .congrats-sub > p {
    font-size: 14px;
  }
}

@media all and (min-height: 2160px) {
  .panel-body {
    height: 70% !important;
  }
  .panel-footer {
    margin-top: -20% !important;
  }
}

.modal2 {
  color: white;
}


#countdown {
  position: relative;
  margin: auto;
  margin-top: 15px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: red;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: red;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.correct {
  color: white;
  background: green;

  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.wrong {
  color: white;
  background: red;
}


@keyframes flash {
  0% {
    opacity: 1.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

//Firefox 1+
@-webkit-keyframes flash {
  0% {
    opacity: 1.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

.win-section {
  color: yellow;
}

.go-to-map {
  background-image: url("../../assets/img/modal-img/you_win_button.png");
  background-size: cover;
  color: white;
  font-weight: 600;
  border-width: 0;
  opacity: 1;
}

.newclass {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gameLogoDiv {
  background: transparent;
  height: 50px;
  width: 100%;
  margin-bottom: 12px
}

.gameImage {
  background: transparent;
  height: 60px;
  width: 60px;
  padding: 2px
}

.panel-body {
  padding: 1% !important;
}

.btn-download {
  border-color: #11a70a;
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: #10ca07;
  color: white;
  opacity: 1;
}

.btn-download-blink {
  border-color: #11a70a;
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: #10ca07;
  color: white;
  opacity: 1;

  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.modal-border {
  border: 1px solid #12d6e0;
  height: 125px;
}

.alert-modal-size {
  width: 220px;
}

.alert-modal-size1 {
  width: 313px;
}

.alert-font {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.btn-Okay {
  background: #12d6e0;
  color: black;
  border: none;
}

.btn-accept:hover {
  background: white;
  color: black;
  border-color: black;
}

.location-allow {
  background: url(../../assets/img/modal-img/sidebar-5.jpg) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: 100% 80% !important;
  opacity: 0.8;
}

@media screen and (orientation: landscape) and (min-device-width: 550px) and (max-device-width: 650px) {
  .panel-body {
    height: 60% !important;
  }
  .location-allow {
    background-size: 100% 60% !important;
  }
  .modal {
    height: 80.5% !important;
  }
  .backdrop {
    height: 80.5% !important;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 650px) and (max-device-width: 850px) {
  .panel-body {
    height: 65% !important;
  }
  .location-allow {
    background-size: 100% 65% !important;
  }
  .modal {
    height: 82.5% !important;
  }
  .backdrop {
    height: 82.5% !important;
  }
}


