<div class="wrapper">
    <div class="newclass">
        <div class="panel-body" style="position: relative;height: 80%">
            <!--            <navbar-cmp></navbar-cmp>-->
            <div class="container">
                <div class="login-form">
                    <div class="main-div">
                        <!--                        <div *ngIf="showMap">-->
                        <!--                            <img src="../../assets/img/modal-img/sidebar-5.jpg" alt="" style="height: 10px;width: 10px">-->
                        <!--                        </div>-->
                        <div id='map'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer" style="position: relative">
            <div class="row">
                <div class="gameLogoDiv">
                    <img src="../../assets/gameLogo/aqua%20jump.png" class="gameImage" alt="Aqua Jump">
                    <img src="../../assets/gameLogo/Archery.png" class="gameImage" alt="Archery">
                    <img src="../../assets/gameLogo/flippy%20flip.png" class="gameImage" alt="Flippy Flip">
                    <img src="../../assets/gameLogo/knife%20smack.png"
                         class="gameImage" alt="Knife Smack">
                    <img src="../../assets/gameLogo/pro%20cricket.png"
                         class="gameImage" alt="Pro Cricket">
                </div>
            </div>
            <div class="row">
                <a href="../../assets/img/modal-img/answer_box.png" download class="btn" style="z-index: 0;"
                   [ngClass]="(showWinMessage === true) ? 'btn-download-blink' : 'btn-download' ">
                    <i class="fa fa-download"></i> Download Now
                </a>
            </div>
        </div>
    </div>
    <!--    <footer-cmp></footer-cmp>-->
</div>


<div class="backdrop" [ngStyle]="{'display':alert1}"></div>
<div class="modal alert-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':alert1}">
    <div class="modal-dialog alert-modal-size" role="document">
        <div class="modal-content modal-border">
            <div class="modal-body">
                <h6 class="alert-font">Alert!</h6>
                <h6 class="alert-font">Treasure has been Arrived.</h6>
                <div class="form-group">
                    <button class="btn btn-Okay btn-accept" style="font-size: 12px" (click)="popUp1()">Okay</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="backdrop" [ngStyle]="{'display':alert2}"></div>
<div class="modal alert-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':alert2}">
    <div class="modal-dialog alert-modal-size1" role="document">
        <div class="modal-content modal-border">
            <div class="modal-body">
                <h6 class="alert-font">To collect the Treasure..</h6>
                <h6 class="alert-font">Reach before someone else reaches there</h6>
                <div class="form-group">
                    <button class="btn btn-Okay btn-accept" style="font-size: 12px" (click)="popUp2()">Okay</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="backdrop" [ngStyle]="{'display':alert3}"></div>
<div class="modal alert-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':alert3}">
    <div class="modal-dialog alert-modal-size1" role="document">
        <div class="modal-content modal-border">
            <div class="modal-body">
                <h6 class="alert-font">To get more reward, go and collect other treasures.</h6>
                <div class="form-group">
                    <button class="btn btn-Okay btn-accept" style="font-size: 12px" (click)="popUp3()">Okay</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="location-allow" [ngStyle]="{'display':location}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':location}">
    <div class="modal-dialog alert-modal-size" role="document">
        <div class="modal-content modal-border" style="height: 100px">
            <div class="modal-body">
                <h6 class="alert-font">Allow access this device's location</h6>
                <!-- <div class="form-group">
                     <button class="btn btn-primary" style="font-size: 12px" (click)="popUp3()">Okay</button>
                 </div>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-bottom: 25px">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                        <span aria-hidden="true"><i class="fa fa-times" style="color: red"></i></span></button>
                </div>

                <div class="congrats-image">
                    <div class="congrats-sub">
                        <h4>Congratulations !</h4>
                        <p>You had reached to treasure, to acquire the treasure you need to solve the quiz.</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="question-image">
                        {{modelData.question}}
                    </div>
                    <div class="answer-section">
                        <div class="answer-sub-section" *ngFor="let d of modelData.option">
                            <button class="button-css flash-button btn"
                                    [ngClass]="(correctAnswer !== null) ? ((correctAnswer === 'true' && d === checkedOption)? 'correct' : (correctAnswer === 'false' && d === checkedOption)? 'wrong' : (correctAnswer === 'false' && d === answer)? 'correct' : 'button-css'):'button-css'"
                                    id="{{ d }}"
                                    name="{{d}}"
                                    (click)='checkValue(d)'>{{d}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

<div class="backdrop" [ngStyle]="{'display':display1}"></div>
<div class="modal modal-2" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="win-section" style="text-align: center">
                    <div>
                        <h3>Congratulations !</h3>
                        <h5> You have won <i class="fa fa-inr"></i>500</h5>
                    </div>
                    <div class="row">
                        <img src="../../assets/img/modal-img/01box-shine-treasure_200x2001.gif">
                    </div>
                    <div *ngIf="showWinMessage">
                        <p style="font-size: 22px;color: white; ">To collect your bonus</p>
                        <p style="font-size: 22px;color: white;">Download the App now</p>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->


